html{
    height: 100%;
}

body {
    background: url('/media/main_cheese_image.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #FFF;
    font-family: 'Inter';
}

#topnav, .navbar {
    background: #361D2E !important;
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    font-family: 'Imprima';
}


.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.shop-now-cont{
    background-color: rgba(54, 29, 46, 0.9);
    font-size: 30px;
    padding-top: 20px;
    padding-left: 20px;
}

#special-banner {
    background-color: #E1B07E;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #CBC0AD;
	z-index: -1;
}

.product-name {
    background-color: #361D2E;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
}

.card {
    background: none;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}