<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="cheese-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cheese
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cheese-link">
                <a href="" class="dropdown-item">Soft</a>
                <a href="" class="dropdown-item">Hard</a>
                <a href="" class="dropdown-item">All Cheeses</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="condiments-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Condiments
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="condiments-link">
                <a href="" class="dropdown-item">Crackers</a>
                <a href="" class="dropdown-item">Chutneys</a>
                <a href="" class="dropdown-item">All Condiments</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="" class="dropdown-item">Cheese knifes</a>
                <a href="" class="dropdown-item">Cheese boards</a>
                <a href="" class="dropdown-item">All Accessories</a>
            </div>
        </li>
    </ul>
</div>